 * {
    margin: 0;
    padding: 0;
} 


#contenedorAll {
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_solicitar {
    margin: 30px 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #5f6c7b;
}

.form_soli {
    border-radius: 20px 20px 0px 0px;
}

#contenedorTitle {
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #094067;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#calendarioImg {
    width: 15%;
    padding: 5px 10px;
}

#title {
    font-size: 85px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fffffe;
}

#conteInput{
    position: static;
    font-weight: bold;
} 

#fecha{
    position: static;
}

#informacion{
    font-weight: bold;
}

#disp {
    display: flex;
    justify-content: center;
    position: static;
    padding: 15px;
}

#tituloTabla {
    padding: 20px;
}

#nomDocente {
    font-weight: bold;
    font-size: 45px;
    color: #094067;
    font-family: 'Times New Roman', Times, serif;
    }
    
#h3 {
    color: #094067;
    font-weight: bold;
    font-size: 40px;
    
    font-family: 'Times New Roman', Times, serif;
}

#tiempo {
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
}

#btns {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

#agregarCita,
#cancelarCita {
    font-size: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 10% 10px 10%;
    background-color: #094067;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#agregarCita:hover {
    transition: all 0.9s ease;
    background-color: #2cb67d;
}

#cancelarCita:hover {
    transition: all 0.9s ease;
    background-color: #ef4565;
}
