* {
    margin: 0;
    padding: 0;
}

#contenedor {
    height: auto !important;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 1px solid red; */
    /* border: 1px solid red; */
} 

#limite {
    /* margin: 20px 0px; */
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px 20px 0px 0px;
    /* text-align: center; */
    /* padding: 0px 25%; */
}

#contenedorTitle {
    /* text-align: center; */
    border-radius: 20px 20px 0px 0px;
    background-color: #094067;
    /* display: flex;
    justify-content: center; */
    align-items: center;
}

#registroImg {
    position: relative;
    width: 9%;
    /* padding: 5px 10px; */
}

#title {
    font-size: 85px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fffffe;
    /* border: 1px solid white; */
}

#formulario {
    /* box-shadow: 0px 0px 15px 5px #5f6c7b; */
    border-radius: 20px;
}

#informacion,
#sexo,
#tipoDocumento {
    font-weight: bold;
}

#invalido {
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

#contenedorBoton {
    text-align: center;
    padding: 20px;
}

#btnRegistrar {
    font-size: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 40% 10px 40%;
    margin: 10px 0px;
    background-color: #094067;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#btnRegistrar:hover {
    transform: translateY(-5px);
    background-color: #5f6c7b;
    color: white;
    box-shadow: 0 5px 10px #094067;
}


/* ------------------------------------------------------------ */

input[type=text],
input[type=email],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.div2 {
    border-radius: 5px;
    background-color: aliceblue;
    padding: 20px;
}