* {
    margin: 0;
    padding: 0;
}

.form-signin {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cont-form {
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    width: 25rem;
    box-shadow: 0px 0px 15px 5px #5f6c7b;
}

#contenedorTitle {
    padding: 1rem;
}

#loginImg {
    width: 10rem;
}

.contenInput {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#form-group {
    width: 18rem;
}

#invalido {
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

#form-group label {
    font-weight: bold;
}

#btnSesion {
    padding: 15px;
}

#iniciarSesion {
    padding: 15px 25px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 25% 10px 25%;
    background-color: #094067;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#iniciarSesion:hover {
    transform: translateY(-5px);
    background-color: #5f6c7b;
    color: white;
    box-shadow: 0 5px 10px #094067;
}

#acciones {
    padding: 10px 0px 0px 0px;
}

#acciones h6,
#acciones h6 a {
    padding: 0px 0px 10px 0px;
    font-weight: bold;
}

#acciones h6 {
    padding: 0px 0px 20px 0px;
}

#alert-container {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#alert-container .alert {
    background-color: #EE462F;
    padding: 5px;
    color: white;
    margin: 0px 18%;
}

@media (max-width: 550px) {
    .cont-form {
        width: 100%;
        max-width: 300px;
    }
}