* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.limite {
    margin: 20px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 15px 5px #5f6c7b;
}

#contenedorTitle {
    border-radius: 20px 20px 0px 0px;
    background-color: #094067;
    align-items: center;
    padding: 5px 0px;
}

#Img {
    width: 7rem;
}

#title {
    font-size: auto;
    /* font-size: 4em; */
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fffffe;
}

#contBarra {
    padding: 15px 15px;
}

#btns {
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: start;
}

#agregar,
#eliminados,
#regresar {
    font-size: 15px;
    border: none;
    font-weight: bold;
    padding: 7px 1.5% 7px 1.5%;
    border-radius: 15px;
    transition: all 0.9s ease;
    margin: 0px 10px 0px 0px;
    opacity: 0.7;
}

#agregar:hover,
#eliminados:hover,
#regresar:hover {
    opacity: 1;
}

#th tr th {
    padding: 20px 8px 10px 8px;
    text-align: center;
    font-weight: bold;
    color: #094067;
}

tbody tr td {
    text-align: center;
}

#invalido {
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

#iconoEditar,
#iconoEliminar {
    background-color: #fffffe;
    border: none;
}

#contenedorTitleModal {
    background: linear-gradient( #094067, #5f6c7b);
}

#titleModal {
    color: #fffffe;
    font-weight: bold;
    font-size: 30px;
}

#btnModal {
    background-color: #fffffe;
}

@media screen and (max-width: 550px) {
    #contenedorTitle {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #Img {
        margin-left: 20px;
    }
    #title {
        font-size: 2.5em;
    }
}


/*-----------------------------------------------------------------*/

.buscar {
    padding-left: 4.5px;
}

.boton {
    border: none;
    background-color: white;
}

.boton i {
    padding: 7px 10px 6px 10px;
    font-size: 30px;
}

#alert-container {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#alert-container .alert {
    background-color: #EE462F;
    padding: 5px;
    color: white;
    margin: 0px 18%;
}