    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    #contenedor1 {
        height: auto !important;
        width: 100%;
        /* background-color: #5f6c7b; */
    }
    
    #limite1 {
        display: flex;
        justify-content: space-between;
        /* margin: 0px 0px; */
        background-color: #5f6c7b;
    }
    
    .btnMenu {
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0px 15px 0px 15px;
        margin: 10px 0px 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        color: #fffffe;
        background-color: #333;
    }
    
    .btnMenu:hover {
        color: #f2f2f2;
    }
    
    .btnMenu i {
        font-size: 35px;
    }
    /* .btnMenu i:hover{
        color: #f2f2f2;
    } */

    .subtitle{
        /* border: 1px solid red; */
        margin-left: 5px;
    }

    .subtitle span {
        /* border: 1px solid blue; */
        font-size: 20px;
        /* font-weight: bold; */
        font-family: 'Times New Roman', Times, serif;
    }
    
    .Ptitle{
        text-align: end;
        /* border: 1px solid red; */
        margin-right: 10px;
    }

    .Ptitle span{
        font-size: 25px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    /* ----------------------------------------------------------------------------- */
    
    #offcanvasExample {
        width: 20%;
    }
    
    .offcanvas-header {
        background: #333;
    }
    
    .offcanvas-title {
        color: #f2f2f2;
        font-size: 25px;
        font-weight: 600;
        line-height: 65px;
        background: #333;
        text-align: center;
    }
    
    .offcanvas-body {
        background-color: #1c1c1c;
    }
    
    .offcanvas-body .list-items {
        padding: 0;
        margin: 0;
        position: relative;
        list-style-type: none;
    }
    
    .offcanvas-body .list-items li {
        padding-left: 40px;
        line-height: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid #333;
        transition: all 0.3s ease;
    }
    
    .offcanvas-body .list-items li:hover {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        box-shadow: 0px 0px 10px 3px #222;
    }
    
    .offcanvas-body .list-items li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        height: 100%;
        width: 100%;
        display: block;
    }
    
    .offcanvas-body .list-items li a i {
        margin-right: 20px
    }
    
    #contenedordrop {
        padding: 13px 20px;
        position: static;
    }
    
    #btnimg {
        position: static;
        background-color: #fffffe;
        color: #094067;
        padding: 10px 15px;
        /* font-size: 20px; */
    }
    
    #btnimg i {
        position: static;
        color: #094067;
        /* font-size: 20px; */
    }