* {
    margin: 0;
    padding: 0;
}

#contenedor {
    /* height: 100vh; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
    text-align: center;
}

#limite {
    margin: 37.8px 55px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #5f6c7b;
}

#contTitle {
    padding: 10px 0px;
    border-radius: 20px 20px 0px 0px;
    background-color: #094067;
}

#title {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    padding: 10px 0px 0px 0px;
    color: #fffffe;
}

#contePerfil {
    display: flex;
    position: static;
}


/* img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
  } */


/* .small-image {
    max-width: 100px;
    max-height: 100px;
} */

#perfilImg {
    width: 70%;
    padding: 20px 0px;
}

#segundaColumn {
    padding: 10px 0px 10px 0px;
}

.vp {
    font-weight: bold;
    color: gray;
}

.mp {
    font-weight: bold;
    color: #000;
}

#btnRegistrar,
#btnEditarContra {
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#btnRegistrar i,
#btnEditarContra i {
    font-size: 25px;
}

#contenedorTitleModal {
    background: linear-gradient( #094067, #5f6c7b);
}

.modal-title {
    color: #fffffe;
    font-weight: bold;
    font-size: 30px;
}

.btn-close {
    background-color: #fffffe;
}

.btn-close:hover {
    background-color: #fffffe;
}

.btn-ModalLeer {
    /* background-color: #5f6c7b; */
    background-color: #094067;
    font-size: 15px;
    color: #fffffe;
    font-weight: bold;
    transition: all 0.9s ease;
}

.btn-ModalLeer:hover {
    transition: all 0.9s ease;
    background-color: #5f6c7b;
    color: #fffffe;
}

#invalido {
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

#th tr th {
    padding: 20px 8px 10px 8px;
    /* text-align: center; */
    font-weight: bold;
    color: #094067;
}


/* #primeraColumn{
    display: flex;
    justify-content: center;
    align-items: center;
}
     */

#cool {
    display: flex;
}

.input {
    display: none;
}

.label {
    background: #1f5f74;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 3px;
}

#alert-container{
    padding: 15px 0px;
    color:red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#alert-container .alert{
    background-color: #EE462F;
    padding: 5px;
    color: white;
    margin: 0px 5%;
}